
#banner-img{
		  padding-bottom: 75px; 
		  margin-bottom: 20px;  
		  text-align: center;   
		  color: #f8f8f8;   
		  background: url("img/bgimg.jpg") no-repeat center;  
		  background-size: cover; 
	}
        #banner-content{
          position: relative;
          padding-top: 6%;
          padding-bottom: 6%;
          margin-top: 12%;
          margin-bottom: 12%;
          background-color: rgba(0,0,0,0.7);
          max-width: 660px;
        }
       
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        